NetworkQoSService/web/WEB-INF/NewWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://networkqos.com/" name="NewWebService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://networkqos.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://networkqos.com/" schemaLocation="NewWebService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="signin">
    <part name="parameters" element="tns:signin"/>
  </message>
  <message name="signinResponse">
    <part name="parameters" element="tns:signinResponse"/>
  </message>
  <message name="signup">
    <part name="parameters" element="tns:signup"/>
  </message>
  <message name="signupResponse">
    <part name="parameters" element="tns:signupResponse"/>
  </message>
  <message name="mobileinfo">
    <part name="parameters" element="tns:mobileinfo"/>
  </message>
  <message name="mobileinfoResponse">
    <part name="parameters" element="tns:mobileinfoResponse"/>
  </message>
  <portType name="NewWebService">
    <operation name="signin">
      <input wsam:Action="http://networkqos.com/NewWebService/signinRequest" message="tns:signin"/>
      <output wsam:Action="http://networkqos.com/NewWebService/signinResponse" message="tns:signinResponse"/>
    </operation>
    <operation name="signup">
      <input wsam:Action="http://networkqos.com/NewWebService/signupRequest" message="tns:signup"/>
      <output wsam:Action="http://networkqos.com/NewWebService/signupResponse" message="tns:signupResponse"/>
    </operation>
    <operation name="mobileinfo">
      <input wsam:Action="http://networkqos.com/NewWebService/mobileinfoRequest" message="tns:mobileinfo"/>
      <output wsam:Action="http://networkqos.com/NewWebService/mobileinfoResponse" message="tns:mobileinfoResponse"/>
    </operation>
  </portType>
  <binding name="NewWebServicePortBinding" type="tns:NewWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="signin">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="signup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="mobileinfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="NewWebService">
    <port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

